
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.events-5uw {
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background: radial-gradient(52.01% 52.01% at 50% 47.99%, rgba(145, 90, 180, 0.6800000072) 0%, #44006f 100%);
  width: 100%;

  .auto-group-4mxj-cQ5 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.6rem 0rem 3.7rem 0rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .top-bar-L5B {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 5.1rem 4.1rem 5.1rem;
      width: calc(100% - 10.2rem);
      height: 12.2rem;

      .logo-SP7 {
        width: 17.8841rem;
        height: 12.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-blpe-nC5 {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.7rem 0rem 5.2rem 50.566rem;
        height: 100%;
        display: flex;
        align-items: center;

        .menu-bar-Jw7 {
          flex-shrink: 0;
          margin: 0rem 7.75rem 0.2rem 0rem;
          display: flex;
          align-items: center;

          .home-RF3 {
            font-weight: 400;
            font-family: Cheque, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 7.85rem;
            text-align: center;
            font-size: 2.4rem;
            line-height: 1.2575;
            color: #ffffff;
          }
          .about-vhb {
            font-size: 2.4rem;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Cheque, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-weight: 400;
            flex-shrink: 0;
            margin-right: 8.05rem;
          }
          .events-3nD {
            margin-right: 8.8rem;
            text-align: center;
            font-family: Cheque, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            flex-shrink: 0;
          }
          .contact-us-PLH {
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Cheque, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .image-9-Kzd {
          height: 3.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 3.3rem;
        }
      }
    }
    .auto-group-ljng-fob {
      height: 8.8rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 61.2rem 7.1rem 63.5rem;
      width: calc(100% - 124.7001rem);

      .line-4-Pjb {
        top: 7.6328rem;
        background-color: #ffffff;
        width: 19.2999rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
      }
      .events-uxq {
        left: 0.05rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.325;
        font-family: Abyssinica SIL, 'Source Sans Pro';
        white-space: nowrap;
        width: 19.2rem;
        position: absolute;
        top: 0;
        font-size: 6.6rem;
        color: #ffffff;
        height: 8.8rem;
      }
    }
    .auto-group-x2ct-RRP {
      margin-right: 11rem;
      width: 140.4rem;
      height: 99.7rem;
      position: relative;
      flex-shrink: 0;

      .frame-kyT {
        vertical-align: top;
        width: 8.462rem;
        height: 8.462rem;
        position: absolute;
        left: 0.4rem;
        top: 52.2rem;
        object-fit: contain;
      }
      .corporatephotoshoot-tpm {
        width: 140.4rem;
        height: 99.7rem;
        position: absolute;
        left: 0;
        top: 0;

        .blend-of-professionalism-confidence-and-contemporary-style-the-photoshoot-served-as-a-platform-for-students-to-explore-and-embody-the-essence-of-silicon-valleys-tech-driven-culturethe-core-team-along-with-the-creative-and-event-management-team-poured-their-energy-into-orchestrating-a-seamless-photoshoot-experience-event-coordinators-divyansh-and-abhishek-meticulously-planned-every-detail-ensuring-a-smooth-execution-rudransh-a-skilled-photographer-captured-the-essence-of-silicon-valley-chic-with-finesse-and-precision-the-setup-reflected-the-sleek-and-sophisticated-ambiance-synonymous-with-silicon-valley-complete-with-minimalist-backdrops-and-strategic-lighting-to-capture-the-essence-of-professionalism-students-adorned-themselves-in-chic-corporate-attire-channeling-the-polished-look-of-silicon-valley-professionals-from-tailored-suits-to-smart-casual-ensembles-each-participant-exuded-confidence-and-poise-embodying-the-ethos-of-modern-workplace-fashion-dGZ {
          width: 119.7rem;
          font-size: 3rem;
          line-height: 1.325;
          color: #ffffff;
          font-family: Abyssinica SIL, 'Source Sans Pro';
          height: 47.7rem;
          position: absolute;
          left: 13.3rem;
          top: 52rem;
          font-weight: 400;
        }
        .frame-29-Vbb {
          height: 35.8rem;
          position: absolute;
          left: 12.95rem;
          top: 17.8rem;
          display: flex;
          align-items: flex-start;
          width: 117.3rem;

          .corporate-pic-zYM {
            flex-shrink: 0;
            margin: 0.65rem 3.7rem 0rem 0rem;
            width: 41.6rem;
            height: 32.9rem;
            position: relative;
            border-radius: 3.5rem;

            .rectangle-10-ttd {
              height: 32.9rem;
              position: absolute;
              left: 2.1rem;
              top: 0;
              background-color: #9e9d9d;
              border-radius: 3.5rem;
              width: 37.4rem;
            }
            .rectangle-7-cZj {
              height: 30.7rem;
              position: absolute;
              left: 0;
              top: 2.2rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 3.5rem;
              width: 41.6rem;
            }
          }
          .on-the-sunny-afternoon-of-january-24th-2024-bvcoes-fashion-enthusiasts-embarked-on-a-journey-into-the-world-of-corporate-dressing-with-a-photoshoot-themed-around-the-essence-of-silicon-valley-professionalism-organized-by-vnuva-the-fashion-society-of-bvcoe-this-event-aimed-to-provide-students-with-an-immersive-experience-in-modern-workplace-attire-and-decorum-corporate-dressing-is-not-merely-about-attire-it-signifies-a-vqK {
            max-width: 72rem;
            font-size: 3rem;
            font-weight: 400;
            line-height: 1.325;
            color: #ffffff;
            font-family: Abyssinica SIL, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .corporatephotoshoot-4KF {
          color: #ffffff;
          width: 49.1rem;
          position: absolute;
          left: 10.45rem;
          top: 6.9566rem;
          font-size: 5rem;
          font-weight: 400;
          line-height: 1.325;
          font-family: Abyssinica SIL, 'Source Sans Pro';
          white-space: nowrap;
          height: 6.7rem;
          text-align: center;
          text-transform: capitalize;
        }
        .line-5-9bb {
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 64.1347rem;
          height: 58.2566rem;
          position: absolute;
          left: 0;
        }
      }
    }
  }
  .auto-group-u1ac-5VF {
    width: 154.8401rem;
    height: 295.8rem;
    position: relative;
    flex-shrink: 0;

    .frame-byP {
      object-fit: contain;
      vertical-align: top;
      width: 8.462rem;
      height: 8.462rem;
      position: absolute;
      left: 2rem;
      top: 274.1rem;
    }
    .frame-LAH {
      height: 8.462rem;
      position: absolute;
      left: 126.9rem;
      top: 216.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 8.462rem;
    }
    .frame-G3w {
      height: 8.462rem;
      position: absolute;
      left: 122.7rem;
      top: 281.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 8.462rem;
    }
    .frame-PeM {
      height: 8.462rem;
      position: absolute;
      left: 1.6rem;
      top: 11.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 8.462rem;
    }
    .frame-Knu {
      position: absolute;
      left: 136rem;
      top: 114.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 8.462rem;
      height: 8.462rem;
    }
    .frame-fLy {
      position: absolute;
      left: 80.9rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 9.462rem;
      height: 8.462rem;
    }
    .frame-QZT {
      position: absolute;
      left: 135.2rem;
      top: 35.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 8.462rem;
      height: 8.462rem;
    }
    .ethnic-day-9X3 {
      left: 10.6rem;
      top: 222.8rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      width: 122.2rem;
      height: 73rem;
      position: absolute;

      .ethnic-day-59o {
        margin-bottom: 2.15rem;
        text-align: right;
        font-size: 4.1712rem;
        color: #ffffff;
        font-family: Abyssinica SIL, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.325;
        text-transform: capitalize;
      }
      .auto-group-q1u8-PwB {
        margin-right: 0.05rem;
        width: calc(100% - 0.05rem);
        height: 65.25rem;
        position: relative;
        flex-shrink: 0;

        .looked-vibrant-in-their-colorful-and-different-ethnic-outfits-to-make-the-program-more-engaging-and-interesting-some-activities-and-performances-were-also-prepared-by-the-students-first-an-opening-ceremony-took-place-as-a-cultural-function-a-fantastic-tent-canopy-was-set-up-in-the-college-canteen-for-the-event-all-the-students-of-bvcoe-were-present-there-to-attend-the-event-they-were-very-happy-and-enjoyed-the-music-performances-by-team-aagaaz-and-the-dance-performance-by-team-vnuva-8ds {
          font-size: 3rem;
          font-weight: 400;
          width: 119.6rem;
          height: 27.9rem;
          position: absolute;
          color: #ffffff;
          font-family: Abyssinica SIL, 'Source Sans Pro';
          left: 0.2rem;
          top: 37.35rem;
          line-height: 1.325;
        }
        .frame-26-Sny {
          left: 0;
          top: 3.15rem;
          display: flex;
          align-items: flex-start;
          width: 119.2rem;
          height: 35.8rem;
          position: absolute;

          .vnuva-organized-a-program-to-celebrate-baisakhi-and-ethnic-day-the-principal-and-along-with-the-faculty-members-and-students-participated-in-the-program-with-full-energy-although-perceived-as-a-mere-fun-activity-ethnic-dress-is-of-great-benefit-to-students-especially-to-enhance-their-creativity-imagination-and-build-confidence-the-aim-behind-organizing-this-program-was-to-give-awareness-to-the-students-about-traditional-indian-wear-they-all-maM {
            max-width: 73.2rem;
            font-size: 3rem;
            font-weight: 400;
            line-height: 1.325;
            color: #ffffff;
            font-family: Abyssinica SIL, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 4.4rem;
          }
          .ethnic-pic-v5s {
            border-radius: 3.5rem;
            flex-shrink: 0;
            width: 41.6rem;
            height: 34.2rem;
            position: relative;

            .rectangle-11-4xm {
              position: absolute;
              left: 2.1rem;
              top: 0;
              background-color: #9e9d9d;
              border-radius: 3.5rem;
              width: 37.4rem;
              height: 34.2rem;
            }
            .rectangle-9-QFw {
              height: 31.9131rem;
              position: absolute;
              left: 0;
              top: 2.2869rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 3.5rem;
              width: 41.6rem;
            }
          }
        }
        .line-17-soj {
          vertical-align: top;
          width: 37.55rem;
          height: 64.4rem;
          position: absolute;
          left: 84.6rem;
          top: 0;
          object-fit: contain;
        }
      }
    }
    .prom-ay3 {
      height: 131.2rem;
      position: absolute;
      left: 0;
      top: 86.9rem;
      width: 143.7607rem;

      .style-confidence-and-social-skills-the-theme-for-this-years-prom-was-a-night-under-the-stars-setting-the-stage-for-an-enchanting-evening-filled-with-twinkling-lights-and-celestial-decor-as-the-students-arrived-dressed-to-the-nines-in-their-finest-attire-the-excitement-in-the-air-was-palpable-the-highlight-of-the-evening-was-the-announcement-of-the-prom-king-and-queen-a-title-coveted-by-many-amidst-cheers-and-applause-the-winners-were-revealed-ayush-sinha-was-crowned-prom-king-exuding-charm-and-charisma-throughout-the-night-kuhu-sxena-was-honored-as-prom-queen-captivating-everyone-with-her-grace-and-poise-in-addition-to-the-crowning-ceremony-the-event-featured-various-entertainment-and-activities-to-keep-the-attendees-engaged-from-a-live-band-performance-to-a-photo-booth-adorned-with-props-there-was-something-for-everyone-to-enjoy-one-of-the-most-anticipated-segments-of-the-night-was-the-best-duo-contest-where-students-showcased-their-dynamic-partnerships-and-chemistry-on-the-dance-floor-after-a-spirited-competition-the-winning-pair-was-announced-harsh-vats-and-ishitaa-k-stole-the-spotlight-as-the-best-duo-mesmerizing-the-audience-with-their-synchronized-moves-and-infectious-energy-prom-night-at-bvcoe-was-a-resounding-success-leaving-a-lasting-impression-on-all-who-attended-it-was-a-celebration-of-friendship-achievements-and-the-bonds-that-unite-us-as-a-community-as-the-night-came-to-a-close-students-departed-with-cherished-memories-knowing-that-they-had-experienced-a-night-to-remember-6wP {
        position: absolute;
        font-weight: 400;
        line-height: 1.325;
        color: #ffffff;
        width: 119.9rem;
        height: 79.5rem;
        left: 13.4826rem;
        top: 51.7rem;
        font-size: 3rem;
        font-family: Abyssinica SIL, 'Source Sans Pro';
      }
      .frame-27-Ji1 {
        top: 17.7566rem;
        display: flex;
        align-items: flex-start;
        width: 119.3rem;
        height: 39.8rem;
        position: absolute;
        left: 13.5rem;

        .prom-pic-S3X {
          flex-shrink: 0;
          margin: 0.5rem 1.7rem 0rem 0rem;
          width: 41.6rem;
          height: 32.9rem;
          position: relative;
          border-radius: 3.5rem;

          .rectangle-12-Zdw {
            width: 37.4rem;
            height: 32.9rem;
            position: absolute;
            left: 2.1rem;
            top: 0;
            background-color: #9e9d9d;
            border-radius: 3.5rem;
          }
          .rectangle-13-hVF {
            object-fit: cover;
            vertical-align: top;
            border-radius: 3.5rem;
            width: 41.6rem;
            height: 30.7rem;
            position: absolute;
            left: 0;
            top: 2.2rem;
          }
        }
        .on-the-evening-of-27th-may-2023-the-halls-of-bvp-campus-were-transformed-into-a-glamorous-affair-as-students-gathered-to-celebrate-their-much-anticipated-prom-night-hosted-by-venuva-the-event-aimed-to-create-unforgettable-memories-and-foster-a-sense-of-camaraderie-among-the-student-body-prom-night-holds-a-special-place-in-the-hearts-of-bvcoe-students-beyond-its-surface-glamour-prom-provides-an-opportunity-for-students-to-showcase-their-personal-1kq {
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.325;
          color: #ffffff;
          font-family: Abyssinica SIL, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 76rem;
        }
      }
      .line-18-NE1 {
        width: 70.1797rem;
        height: 66.1rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .prom-uDw {
        width: 11.9rem;
        left: 10.7rem;
        font-family: Abyssinica SIL, 'Source Sans Pro';
        color: #ffffff;
        height: 6.7rem;
        position: absolute;
        top: 6.9566rem;
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.325;
        text-transform: capitalize;
        white-space: nowrap;
      }
    }
    .euphoria-AvZ {
      width: 121.5rem;
      height: 81rem;
      position: absolute;
      left: 9.9rem;
      top: 6.2rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      .euphoria-hQh {
        white-space: nowrap;
        font-size: 5rem;
        text-transform: capitalize;
        color: #ffffff;
        line-height: 1.325;
        font-family: Abyssinica SIL, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 1.05rem;
        text-align: right;
        font-weight: 400;
      }
      .auto-group-hwm6-c1s {
        height: 73.25rem;
        position: relative;
        flex-shrink: 0;
        margin-right: 0.05rem;
        width: calc(100% - 0.05rem);

        .modern-trends-they-all-looked-vibrant-in-their-colourful-and-different-makeup-and-euphoric-outfits-to-make-the-program-more-engaging-and-interesting-introduction-to-basics-of-photography-and-modelling-were-also-given-by-the-students-an-amazing-shoot-location-was-chosen-in-the-college-campus-and-was-set-up-for-the-event-the-setup-exuded-a-lively-atmosphere-complete-with-elaborate-backdrops-and-professional-lighting-that-enhanced-the-visual-appeal-of-the-photographs-a-team-of-skilled-photographers-captured-the-essence-of-each-participants-interpretation-of-euphoria-freezing-moments-of-confidence-and-exuberance-in-every-click-jcH {
          height: 35.8rem;
          font-weight: 400;
          color: #ffffff;
          font-family: Abyssinica SIL, 'Source Sans Pro';
          width: 118.1rem;
          position: absolute;
          left: 0;
          top: 37.45rem;
          font-size: 3rem;
          line-height: 1.325;
        }
        .frame-28-Zzd {
          top: 3.15rem;
          display: flex;
          align-items: flex-start;
          width: 118.6rem;
          height: 39.8rem;
          position: absolute;
          left: 0;

          .vnuva-organised-a-photoshoot-for-our-student-models-on-the-theme-euphoria-the-core-team-along-with-creative-and-event-management-team-participated-in-the-shoot-with-full-energy-although-perceived-as-a-mere-fun-activity-this-portfolio-shoot-is-of-great-benefit-to-students-especially-to-enhance-their-creativity-imagination-and-build-confidence-the-aim-behind-organising-this-program-was-to-give-awareness-to-the-students-about-JSR {
            font-family: Abyssinica SIL, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 3.9rem;
            max-width: 73.1rem;
            font-size: 3rem;
            font-weight: 400;
            line-height: 1.325;
            color: #ffffff;
          }
          .euphoria-pic-TCq {
            flex-shrink: 0;
            width: 41.6rem;
            height: 32.9rem;
            position: relative;
            border-radius: 3.5rem;

            .rectangle-11-QNy {
              position: absolute;
              left: 2.1rem;
              top: 0;
              background-color: #9e9d9d;
              border-radius: 3.5rem;
              width: 37.4rem;
              height: 32.9rem;
            }
            .rectangle-9-w81 {
              height: 30.7rem;
              position: absolute;
              left: 0;
              top: 2.2rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 3.5rem;
              width: 41.6rem;
            }
          }
        }
        .line-17-dmX {
          width: 37.55rem;
          height: 39.2rem;
          position: absolute;
          left: 83.9rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
  .auto-group-wat4-Ydb {
    padding: 0.4rem 0rem 2.9rem 0rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-izda-GJh {
      flex-shrink: 0;
      margin: 0rem 8.7rem 1.25rem 0rem;
      width: 141.3rem;
      height: 164.85rem;
      position: relative;

      .frame-aqB {
        position: absolute;
        left: 1.2rem;
        top: 88.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 8.462rem;
        height: 8.462rem;
      }
      .frame-iAh {
        object-fit: contain;
        vertical-align: top;
        width: 8.462rem;
        height: 8.462rem;
        position: absolute;
        left: 11.3rem;
        top: 39.1rem;
      }
      .flacia-ea9 {
        display: flex;
        flex-direction: column;
        width: 121.5rem;
        height: 46.95rem;
        position: absolute;
        left: 13.8rem;
        top: 117.9rem;
        align-items: flex-end;

        .flacia-aih {
          font-weight: 400;
          line-height: 1.325;
          text-transform: capitalize;
          color: #ffffff;
          font-family: Abyssinica SIL, 'Source Sans Pro';
          white-space: nowrap;
          text-align: right;
          font-size: 4.1712rem;
          flex-shrink: 0;
          margin-bottom: 2.15rem;
        }
        .auto-group-hgs6-v1s {
          height: 39.2rem;
          position: relative;
          flex-shrink: 0;
          margin-right: 0.05rem;
          width: calc(100% - 0.05rem);

          .frame-24-TXb {
            left: 0;
            top: 3.15rem;
            display: flex;
            align-items: flex-end;
            width: 118.6rem;
            height: 33.45rem;
            position: absolute;

            .vnuva-successfully-organized-a-fun-fair-for-the-students-of-bharati-vidyapeeth-educational-campus-the-event-included-games-like-balloon-dance-blow-it-whisper-challenge-freeze-dance-and-vnuva-special-face-painting-and-hair-braids-to-bring-fun-and-entertainment-to-the-campus-vnuva-hosted-fun-fair-events-that-were-bound-to-excite-ByP {
              line-height: 1.325;
              color: #ffffff;
              font-family: Abyssinica SIL, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 9.7rem;
              max-width: 67.3rem;
              font-size: 3rem;
              font-weight: 400;
            }
            .felacia-pic-yeM {
              border-radius: 3.5rem;
              flex-shrink: 0;
              margin-bottom: 0.55rem;
              width: 41.6rem;
              height: 32.9rem;
              position: relative;

              .rectangle-11-JwX {
                left: 2.1rem;
                top: 0;
                background-color: #9e9d9d;
                border-radius: 3.5rem;
                width: 37.4rem;
                height: 32.9rem;
                position: absolute;
              }
              .rectangle-9-EKP {
                height: 30.7rem;
                position: absolute;
                left: 0;
                top: 2.2rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 3.5rem;
                width: 41.6rem;
              }
            }
          }
          .line-17-kYd {
            position: absolute;
            left: 83.9rem;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 37.55rem;
            height: 39.2rem;
          }
        }
      }
      .athletic-elegance-5qo {
        top: 0;
        width: 137.7rem;
        height: 119.6566rem;
        position: absolute;
        left: 0;

        .bvcoe-students-serving-as-a-platform-for-athletes-to-compete-bond-and-showcase-their-talents-as-the-curtains-drew-to-a-close-on-this-exhilarating-event-the-fashion-walk-provided-a-fitting-finale-merging-athleticism-with-haute-couture-participants-adorned-themselves-in-a-diverse-array-of-sports-attire-ranging-from-sleek-activewear-to-classic-jerseys-representing-a-multitude-of-sports-including-football-basketball-cricket-and-more-each-outfit-was-carefully-curated-to-reflect-the-essence-of-the-respective-sports-blending-functionality-with-fashion-effortlessly-the-fashion-walk-commenced-amidst-cheers-and-applause-from-the-audience-with-participants-strutting-down-the-runway-with-confidence-and-poise-the-energy-in-the-air-was-electrifying-as-the-models-showcased-their-athletic-prowess-and-style-captivating-the-audience-with-their-dynamic-performances-in-addition-to-celebrating-athletic-fashion-the-event-also-served-as-a-platform-to-recognize-and-honor-the-winners-of-ranbhoomi-athletes-who-demonstrated-exceptional-skill-dedication-and-sportsmanship-throughout-the-fest-were-applauded-and-awarded-with-trophies-and-accolades-Rem {
          left: 15.2rem;
          top: 52.0566rem;
          font-family: Abyssinica SIL, 'Source Sans Pro';
          font-weight: 400;
          line-height: 1.325;
          color: #ffffff;
          width: 116.5rem;
          height: 67.6rem;
          position: absolute;
          font-size: 3rem;
        }
        .frame-25-heD {
          top: 17.9rem;
          display: flex;
          align-items: flex-start;
          width: 115.8rem;
          height: 39.8rem;
          position: absolute;
          left: 15.2rem;

          .athetic-pic-dnm {
            flex-shrink: 0;
            margin: 0.65rem 1.7rem 0rem 0rem;
            width: 41.6rem;
            height: 32.9rem;
            position: relative;
            border-radius: 3.5rem;

            .rectangle-12-m8H {
              width: 37.4rem;
              height: 32.9rem;
              position: absolute;
              left: 2.1rem;
              top: 0;
              background-color: #9e9d9d;
              border-radius: 3.5rem;
            }
            .rectangle-13-hXj {
              vertical-align: top;
              border-radius: 3.5rem;
              width: 41.6rem;
              height: 30.7rem;
              position: absolute;
              left: 0;
              top: 2.2rem;
              object-fit: cover;
            }
          }
          .on-the-vibrant-evening-of-december-23rd-2022-bvcoes-sports-enthusiasts-showcased-their-passion-for-athletics-and-fashion-in-a-dynamic-sports-attire-fashion-walk-at-the-closing-ceremony-of-ranbhoomi-the-intra-college-sports-fest-organized-by-the-student-body-this-event-aimed-to-celebrate-the-spirit-of-sportsmanship-while-adding-a-touch-of-style-and-flair-to-the-festivities-the-ranbhoomi-sports-fest-holds-a-special-place-in-the-hearts-of-QBF {
            line-height: 1.325;
            color: #ffffff;
            font-family: Abyssinica SIL, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 72.5rem;
            font-size: 3rem;
            font-weight: 400;
          }
        }
        .athletic-elegance-mg1 {
          width: 39.4rem;
          height: 6.7rem;
          font-weight: 400;
          text-transform: capitalize;
          color: #ffffff;
          font-family: Abyssinica SIL, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 11.7rem;
          top: 6.9566rem;
          font-size: 5rem;
          line-height: 1.325;
        }
        .line-18-UaR {
          object-fit: contain;
          vertical-align: top;
          width: 64.1347rem;
          height: 58.2566rem;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
    .auto-group-o5ps-buw {
      height: 54.162rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 8.638rem 6.238rem 0rem;
      width: 136.0088rem;

      .frame-Kb3 {
        height: 8.462rem;
        position: absolute;
        left: 126.9rem;
        top: 45.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 8.462rem;
      }
      .vnuva-society-orientation-FzV {
        height: 52.15rem;
        position: absolute;
        left: 0;
        top: 0;
        width: 132.1468rem;

        .frame-23-C93 {
          height: 32.9rem;
          position: absolute;
          left: 16rem;
          top: 17.7566rem;
          display: flex;
          align-items: center;
          width: 115.5rem;

          .orientation-pic-vaq {
            width: 41.6rem;
            height: 100%;
            position: relative;
            border-radius: 3.5rem;
            flex-shrink: 0;
            margin-right: 1.7rem;

            .rectangle-12-Geh {
              top: 0;
              background-color: #9e9d9d;
              border-radius: 3.5rem;
              width: 37.4rem;
              height: 32.9rem;
              position: absolute;
              left: 2.1rem;
            }
            .rectangle-13-oed {
              top: 2.2rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 3.5rem;
              width: 41.6rem;
              height: 30.7rem;
              position: absolute;
              left: 0;
            }
          }
          .team-vnuva-walked-the-stage-astounding-all-the-freshers-telling-them-not-our-story-but-to-write-their-own-story-to-pull-up-their-socks-broaden-their-shoulders-and-walk-on-the-path-to-success-a-small-introduction-to-the-society-explaining-the-initiative-and-our-spirit-of-personal-development-jHP {
            font-family: Abyssinica SIL, 'Source Sans Pro';
            flex-shrink: 0;
            margin-top: 1.1rem;
            max-width: 72.2rem;
            font-size: 3rem;
            font-weight: 400;
            line-height: 1.325;
            color: #ffffff;
          }
        }
        .line-18-wPT {
          object-fit: contain;
          vertical-align: top;
          width: 59.4283rem;
          height: 52.15rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .vnuva-society-orientation-UuB {
          width: 62.6rem;
          height: 6.7rem;
          position: absolute;
          left: 12.5rem;
          font-weight: 400;
          text-transform: capitalize;
          color: #ffffff;
          white-space: nowrap;
          top: 6.9566rem;
          font-size: 5rem;
          line-height: 1.325;
          font-family: Abyssinica SIL, 'Source Sans Pro';
        }
      }
    }
    .auto-group-nwws-xZT {
      margin: 0rem 11.2rem 4.438rem 7rem;
      width: calc(100% - 18.2rem);
      height: 59.262rem;
      position: relative;
      flex-shrink: 0;

      .frame-fyf {
        object-fit: contain;
        vertical-align: top;
        width: 8.462rem;
        height: 8.462rem;
        position: absolute;
        left: 0;
        top: 43rem;
      }
      .frame-ce1 {
        left: 115.7rem;
        top: 50.8rem;
        object-fit: contain;
        vertical-align: top;
        width: 8.462rem;
        height: 8.462rem;
        position: absolute;
      }
      .kickoff-wRP {
        left: 4.3rem;
        top: 0;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 121.5rem;
        height: 46.95rem;
        position: absolute;

        .vnuva-kick-offs-UgD {
          margin-bottom: 1.05rem;
          line-height: 1.325;
          text-transform: capitalize;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: right;
          font-size: 5rem;
          font-weight: 400;
          color: #ffffff;
          font-family: Abyssinica SIL, 'Source Sans Pro';
        }
        .auto-group-yfme-CMK {
          margin-right: 0.05rem;
          width: calc(100% - 0.05rem);
          height: 39.2rem;
          position: relative;
          flex-shrink: 0;

          .frame-22-YRB {
            width: 118.6rem;
            height: 35.8rem;
            position: absolute;
            left: 0;
            top: 3.15rem;
            display: flex;
            align-items: flex-start;

            .the-premier-of-vnuva-the-fashion-society-of-bharati-vidyapeeth-educational-campus-team-vnuva-along-with-our-student-volunteers-organized-their-first-event-not-just-freshers-but-the-whole-bvp-campus-welcomed-our-efforts-wholeheartedly-the-desk-setup-by-vnuva-gathered-a-footfall-of-more-than-500-students-and-as-our-motto-says-team-vnuva-aced-it-with-style-5AD {
              max-width: 66.7rem;
              font-size: 3rem;
              font-weight: 400;
              line-height: 1.325;
              color: #ffffff;
              font-family: Abyssinica SIL, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 10.3rem;
            }
            .kickoff-pic-TRf {
              flex-shrink: 0;
              margin-top: 0.65rem;
              width: 41.6rem;
              height: 32.9rem;
              position: relative;
              border-radius: 3.5rem;

              .rectangle-11-bGy {
                position: absolute;
                left: 2.1rem;
                top: 0;
                background-color: #9e9d9d;
                border-radius: 3.5rem;
                width: 37.4rem;
                height: 32.9rem;
              }
              .rectangle-9-Vt9 {
                border-radius: 3.5rem;
                width: 41.6rem;
                height: 30.7rem;
                position: absolute;
                left: 0;
                top: 2.2rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
          }
          .line-17-D3T {
            left: 83.9rem;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 37.55rem;
            height: 39.2rem;
            position: absolute;
          }
        }
      }
    }
    .auto-group-q9gp-wVF {
      margin: 0rem 11.6rem 0rem 12.4rem;
      width: calc(100% - 24rem);
      height: 21.2rem;
      position: relative;
      flex-shrink: 0;

      .vector-3YH {
        height: 8.462rem;
        position: absolute;
        left: 3.2rem;
        top: 7.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 8.462rem;
      }
      .footer-aYD {
        top: 0;
        border-top: solid 0.1rem #fbfbfb;
        box-sizing: border-box;
        padding-top: 0.1rem;
        width: 120rem;
        height: 21.2rem;
        position: absolute;
        left: 0;

        .auto-group-pqvl-KEu {
          box-sizing: border-box;
          padding: 3.6rem 38.1rem 0rem 38.2rem;
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .frame-20-e2H {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 4.3rem 4.525rem 4.3rem;
            box-sizing: border-box;
            padding: 0.0375rem 0;
            width: calc(100% - 8.6rem);

            .image-837-YdT {
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 5.8086rem;
              width: 4.8rem;
              height: 3.7rem;
            }
            .arcticons-instagram-fxy {
              width: 3.768rem;
              height: 3.768rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.01rem 6.355rem 0rem 0rem;
            }
            .arcticons-facebook-BwK {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 5.806rem 0rem 0rem;
              width: 3.7619rem;
              height: 3.7578rem;
              position: relative;
              object-fit: contain;
            }
            .linkedin-1-Vx1 {
              width: 4.8rem;
              height: 4.8rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .frame-dYR {
            margin-bottom: 4.1rem;
            width: 100%;
            display: flex;
            column-gap: 7rem;
            align-items: center;
            flex-shrink: 0;

            .home-Zws {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.25;
              color: #fbfbfb;
            }
            .about-JuT {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.25;
              color: #fbfbfb;
              font-family: Inter, 'Source Sans Pro';
            }
            .events-eiR {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.25;
              color: #fbfbfb;
              font-family: Inter, 'Source Sans Pro';
            }
            .contact-us-zXP {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.25;
              color: #fbfbfb;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .copyright-vnuva-bvp-8tV {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.25;
            color: #fbfbfb;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
    }
  }
}
