
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.main-RQq {
  background: radial-gradient(54.99% 54.99% at 50% 45.01%, rgba(146, 91, 180, 0.6800000072) 0%, #45006f 100%);
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;

  .landing-page-NL5 {
    background-size: 100% 100%;
    background-image: url('REPLACE_IMAGE:c92e52638196dba3887287a8ca5078d6fd8d328e');
    box-sizing: border-box;
    padding: 0rem 5.1rem 1.8rem 5.1rem;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    flex-direction: column;

    .top-bar-Hxq {
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 72rem;
      width: 100%;
      height: 12.2rem;
      display: flex;

      .logo-e2h {
        height: 12.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 17.8841rem;
      }
      .auto-group-hjx2-ah3 {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.7rem 0rem 5.2rem 49.716rem;

        .menu-bar-ujK {
          align-items: center;
          box-shadow: 0 0 0.4rem #ffffff;
          flex-shrink: 0;
          margin: 0rem 5.4rem 0.2rem 0rem;
          box-sizing: border-box;
          padding: 0rem 2.35rem 0rem 0.85rem;
          display: flex;

          .home-RBs {
            font-size: 2.4rem;
            font-family: Cheque, 'Source Sans Pro';
            line-height: 1.2575;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 7.85rem;
            text-align: center;
            font-weight: 400;
          }
          .about-veR {
            line-height: 1.2575;
            font-family: Cheque, 'Source Sans Pro';
            flex-shrink: 0;
            text-align: center;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
            margin-right: 8.05rem;
            font-size: 2.4rem;
          }
          .events-qFb {
            text-align: center;
            font-family: Cheque, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 8.8rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            white-space: nowrap;
          }
          .contact-us-ZSV {
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: Cheque, 'Source Sans Pro';
          }
        }
        .image-9-UpM {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 3.3rem;
          height: 3.3rem;
        }
      }
    }
    .auto-group-xt3i-RUh {
      height: 16.4rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 13.205rem 0rem 14.195rem;
      width: calc(100% - 27.4rem);

      .t-h-e-f-a-s-h-i-o-n-s-o-c-i-e-t-y-99o {
        text-align: center;
        line-height: 1.2575;
        font-family: Cheque, 'Source Sans Pro';
        width: 83.8rem;
        height: 8.3rem;
        position: absolute;
        top: 8.1rem;
        white-space: nowrap;
        left: 10.8546rem;
        font-size: 6.6rem;
        font-weight: 400;
        color: #ffffff;
      }
      .line-7-Cds {
        background-color: #ffffff;
        width: 106.4rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 8.4rem;
      }
      .vnuva-vpm {
        position: absolute;
        top: 0;
        text-align: center;
        font-size: 6.6rem;
        font-weight: 400;
        white-space: nowrap;
        width: 20.1rem;
        height: 8.3rem;
        color: #ffffff;
        font-family: Cheque, 'Source Sans Pro';
        left: 42.7046rem;
        line-height: 1.2575;
      }
    }
  }
  .auto-group-y3l8-zZj {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 8.1rem 0.4rem 2.9rem 0.4rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-4cbn-uwb {
      height: 50.9rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 10.5rem 6.3rem 6.6rem;
      width: calc(100% - 17.1rem);

      .frame-dMo {
        width: 8.462rem;
        height: 8.462rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .about-Acd {
        top: 0.1rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 123.2rem;
        height: 50.8rem;
        position: absolute;
        left: 2.9rem;

        .auto-group-suuz-VQ1 {
          margin: 0rem 6.163rem 2rem 46.735rem;
          width: calc(100% - 52.8981rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .auto-group-fe3n-awF {
            margin-right: 26.9474rem;
            width: 28.5384rem;
            height: 8.8rem;
            position: relative;
            flex-shrink: 0;

            .line-4-iGm {
              height: 0.1rem;
              position: absolute;
              left: 0;
              top: 7.6rem;
              background-color: #ffffff;
              width: 28.5384rem;
            }
            .about-us-EF7 {
              white-space: nowrap;
              position: absolute;
              left: 0.2692rem;
              font-size: 6.6rem;
              font-weight: 400;
              line-height: 1.325;
              font-family: Abyssinica SIL, 'Source Sans Pro';
              width: 28rem;
              height: 8.8rem;
              top: 0;
              text-align: center;
              color: #ffffff;
            }
          }
          .logo-6YD {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            width: 14.8161rem;
            height: 10.6rem;
          }
        }
        .vnuva-the-fashion-society-helps-students-stimulate-the-feelings-of-self-confidence-and-change-the-way-they-view-and-approach-situations-good-fashion-style-represents-what-you-want-to-be-and-similarly-how-you-want-to-be-treated-by-others-it-is-created-in-the-spirit-of-personal-development-to-be-the-best-and-presentable-to-ace-it-with-style-vnuva-brings-fashion-to-our-college-through-various-events-we-aim-to-host-events-that-are-centered-around-personality-development-creative-thinking-building-self-esteem-corporate-dressing-and-expression-through-fashion-zdb {
          max-width: 123.2rem;
          font-size: 3.5rem;
          font-weight: 400;
          line-height: 1.325;
          color: #ffffff;
          font-family: Abyssinica SIL, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
    .vision-sau {
      margin: 0rem 10.1rem 8.237rem 10.2rem;
      width: calc(100% - 20.3rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-ddug-ytq {
        flex-shrink: 0;
        margin: 0rem 42.255rem 9.1rem 42.7rem;
        width: calc(100% - 84.9546rem);
        height: 8.8rem;
        position: relative;

        .line-5-tku {
          height: 0.1rem;
          position: absolute;
          left: 0;
          top: 7.6rem;
          background-color: #ffffff;
          width: 37.9454rem;
        }
        .our-vision-EJy {
          white-space: nowrap;
          height: 8.8rem;
          left: 2.5rem;
          top: 0;
          text-align: center;
          font-weight: 400;
          font-family: Abyssinica SIL, 'Source Sans Pro';
          width: 32.5rem;
          position: absolute;
          font-size: 6.6rem;
          line-height: 1.325;
          color: #ffffff;
        }
      }
      .frame-30-Y4m {
        column-gap: 2.3rem;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 39.0627rem;
        display: flex;

        .vision-1-GmT {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 29rem;
          height: 100%;

          .community-pic-1-dM7 {
            vertical-align: top;
            border-radius: 13.623rem;
            flex-shrink: 0;
            margin-bottom: 3.1rem;
            width: 25rem;
            height: 25rem;
            object-fit: cover;
          }
          .auto-group-h8ay-wsb {
            width: 100%;
            background-size: cover;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.2rem 1.4rem 1.663rem 1.4rem;
            height: 10.9627rem;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:44:170');

            .the-college-fashion-society-is-a-dynamic-collective-of-fashion-enthusiasts-3vd {
              font-family: Abyssinica SIL, 'Source Sans Pro';
              max-width: 24.3rem;
              text-align: center;
              font-size: 1.7845rem;
              font-weight: 400;
              line-height: 1.325;
              color: #ffffff;
            }
          }
        }
        .vision-2-KNM {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 29rem;
          height: 100%;

          .community-pic-2-GHb {
            width: 25rem;
            height: 25rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 13.623rem;
            flex-shrink: 0;
            margin-bottom: 3.1rem;
          }
          .auto-group-b3oj-n13 {
            height: 10.9627rem;
            background-position: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.2rem 3.95rem 1.663rem 3.85rem;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:37:226');

            .it-provides-a-platform-for-students-passionate-about-style-to-converge-4UM {
              line-height: 1.325;
              color: #ffffff;
              font-family: Abyssinica SIL, 'Source Sans Pro';
              max-width: 21.2rem;
              text-align: center;
              font-size: 1.7845rem;
              font-weight: 400;
            }
          }
        }
        .vision-3-Lwf {
          width: 29rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .community-pic-4-tCV {
            height: 25rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 13.623rem;
            flex-shrink: 0;
            margin-bottom: 3.1rem;
            width: 25rem;
          }
          .auto-group-qpmn-zWR {
            background-image: url('REPLACE_IMAGE:37:222');
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.2rem 2.55rem 0.263rem 2.25rem;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            .here-we-not-only-appreciate-diverse-styles-but-also-champion-environmental-consciousness-Jn1 {
              line-height: 1.325;
              color: #ffffff;
              font-family: Abyssinica SIL, 'Source Sans Pro';
              max-width: 24.2rem;
              text-align: center;
              font-size: 1.7845rem;
              font-weight: 400;
            }
          }
        }
        .vision-4-rww {
          width: 29rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .community-pic-3-CF7 {
            margin-bottom: 3.1rem;
            width: 25rem;
            height: 25rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 13.623rem;
            flex-shrink: 0;
          }
          .auto-group-avmj-vaR {
            height: 10.9627rem;
            background-size: cover;
            background-position: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.2rem 2.25rem 1.663rem 2.15rem;
            width: 100%;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:37:224');

            .its-not-just-a-society-its-a-nurturing-space-for-friendship-and-fashion-evolution-ci9 {
              font-family: Abyssinica SIL, 'Source Sans Pro';
              max-width: 24.6rem;
              text-align: center;
              font-size: 1.7845rem;
              font-weight: 400;
              line-height: 1.325;
              color: #ffffff;
            }
          }
        }
      }
    }
    .auto-group-fwyg-HZP {
      margin: 0rem 5.338rem 8.2rem 10.2rem;
      width: calc(100% - 15.538rem);
      height: 44.8rem;
      position: relative;
      flex-shrink: 0;

      .frame-PsK {
        width: 8.462rem;
        height: 8.462rem;
        position: absolute;
        left: 119.2rem;
        top: 15.1rem;
        object-fit: contain;
        vertical-align: top;
      }
      .faculty-mentor-7oK {
        width: 126.5494rem;
        height: 44.8rem;
        position: absolute;
        left: 0;
        top: 0;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-b3bi-F8q {
          margin: 0rem 40.327rem 1.7rem 40.522rem;
          width: calc(100% - 80.8494rem);
          height: 8.8rem;
          position: relative;
          flex-shrink: 0;

          .line-6-MSm {
            top: 7.6371rem;
            background-color: #ffffff;
            width: 43.8282rem;
            height: 0.1rem;
            position: absolute;
            left: 0.6701rem;
          }
          .faculty-mentor-57s {
            line-height: 1.325;
            color: #ffffff;
            font-family: Abyssinica SIL, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            left: 0;
            top: 0;
            text-align: center;
            text-transform: capitalize;
            width: 45.7rem;
            height: 8.8rem;
            font-size: 6.6rem;
            font-weight: 400;
          }
        }
        .group-4-9Nd {
          width: 100%;
          height: 34.3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .image-12-HDw {
            height: 34.3rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 3.765rem;
            width: 36.6844rem;
          }
          .frame-31-oi5 {
            margin: 2.4rem 0rem 1.7rem 0rem;
            height: calc(100% - 4.1rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .dr-apoorva-aggarwal-7yf {
              font-weight: 400;
              text-transform: capitalize;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.2rem;
              font-size: 3.5rem;
              line-height: 1.325;
              font-family: Abyssinica SIL, 'Source Sans Pro';
            }
            .best-researcher-awardbvcoe-2018-2019-2020-2021-EYV {
              text-transform: capitalize;
              color: #ffffff;
              flex-shrink: 0;
              margin-bottom: 1rem;
              max-width: 86.1rem;
              font-size: 3.5rem;
              font-weight: 400;
              line-height: 1.325;
              font-family: Abyssinica SIL, 'Source Sans Pro';
            }
            .exemplary-performance-in-mtechsignal-processing-guru-gobind-singh-indraprastha-university-delhi-in-2015-iiZ {
              text-transform: capitalize;
              color: #ffffff;
              font-family: Abyssinica SIL, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 85.6rem;
              font-size: 3.5rem;
              font-weight: 400;
              line-height: 1.325;
            }
          }
        }
      }
    }
    .auto-group-e6pt-bXT {
      height: 80.5562rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 9.538rem 0.444rem 9.5rem;
      width: calc(100% - 19.038rem);

      .frame-hqP {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 8.938rem 32.494rem 0rem;
        width: 8.462rem;
        height: 8.462rem;
        object-fit: contain;
      }
      .founder-pQD {
        width: 84.7917rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 13.5083rem;

        .auto-group-anhi-kYm {
          margin: 0rem 26.292rem 7.6rem 30.9rem;
          width: calc(100% - 57.1917rem);
          height: 8.8rem;
          position: relative;
          flex-shrink: 0;

          .founders-sdP {
            color: #ffffff;
            height: 8.8rem;
            position: absolute;
            top: 0;
            font-size: 6.6rem;
            font-weight: 400;
            line-height: 1.325;
            text-transform: capitalize;
            font-family: Abyssinica SIL, 'Source Sans Pro';
            white-space: nowrap;
            width: 26.9rem;
            left: 0.4rem;
            text-align: center;
          }
          .line-7-yAd {
            left: 0;
            top: 7.6371rem;
            background-color: #ffffff;
            width: 27.6rem;
            height: 0.1rem;
            position: absolute;
          }
        }
        .frame-34-V8y {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .frame-32-dW5 {
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 3.7rem;

            .image-5-mcH {
              margin-right: 31.4rem;
              width: 26.763rem;
              height: 55.7562rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 30.8rem;
              flex-shrink: 0;
            }
            .image-6-5ss {
              width: 26.6287rem;
              height: 55.756rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 30.8rem;
              flex-shrink: 0;
            }
          }
          .frame-33-DDP {
            margin: 0 3.7958rem;
            width: calc(100% - 7.5917rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .harsh-vats-MKb {
              margin-right: 39rem;
              color: #ffffff;
              flex-shrink: 0;
              font-size: 3.5rem;
              font-weight: 400;
              line-height: 1.325;
              text-transform: capitalize;
              font-family: Abyssinica SIL, 'Source Sans Pro';
              white-space: nowrap;
            }
            .kuhu-saxena-g6y {
              font-weight: 400;
              line-height: 1.325;
              text-transform: capitalize;
              color: #ffffff;
              font-family: Abyssinica SIL, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 3.5rem;
            }
          }
        }
      }
      .frame-nvh {
        height: 8.462rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 16.8942rem;
        width: 8.462rem;
      }
    }
    .auto-group-nezi-8Ds {
      flex-shrink: 0;
      margin-right: 6.938rem;
      width: 136.262rem;
      height: 240rem;
      position: relative;

      .frame-SkM {
        position: absolute;
        left: 2.2rem;
        top: 34.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 8.462rem;
        height: 8.462rem;
      }
      .frame-aLm {
        position: absolute;
        left: 127.8rem;
        top: 91.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 8.462rem;
        height: 8.462rem;
      }
      .frame-VTj {
        width: 8.462rem;
        height: 8.462rem;
        position: absolute;
        left: 0;
        top: 103.7rem;
        object-fit: contain;
        vertical-align: top;
      }
      .frame-RsB {
        top: 189.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 8.462rem;
        height: 8.462rem;
        position: absolute;
        left: 31.8rem;
      }
      .frame-ZTb {
        width: 8.462rem;
        height: 8.462rem;
        position: absolute;
        left: 117.5rem;
        top: 164.2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .frame-tEy {
        left: 127.8rem;
        top: 209.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 8.462rem;
        height: 8.462rem;
        position: absolute;
      }
      .frame-p8d {
        left: 13.8rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 8.462rem;
        height: 8.462rem;
        position: absolute;
      }
      .frame-kY5 {
        position: absolute;
        left: 127.8rem;
        top: 30.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 8.462rem;
        height: 8.462rem;
      }
      .footer-Hnu {
        padding-top: 0.1rem;
        width: 120rem;
        height: 21.2rem;
        position: absolute;
        left: 11.4rem;
        top: 218.8rem;
        border-top: solid 0.1rem #fbfbfb;
        box-sizing: border-box;

        .auto-group-hd64-p29 {
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          padding: 3.6rem 38.1rem 0rem 38.2rem;
          width: 100%;

          .frame-20-8Yd {
            margin: 0rem 4.7rem 4.525rem 3.9rem;
            box-sizing: border-box;
            padding: 0.0375rem 0;
            width: calc(100% - 8.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .image-837-S3X {
              margin-right: 5.8087rem;
              width: 4.8rem;
              height: 3.7rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .arcticons-instagram-NC5 {
              margin: 0.01rem 6.355rem 0rem 0rem;
              width: 3.768rem;
              height: 3.768rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .arcticons-facebook-tRK {
              width: 3.7619rem;
              height: 3.7578rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 5.806rem 0rem 0rem;
            }
            .linkedin-1-1Vw {
              vertical-align: top;
              flex-shrink: 0;
              width: 4.8rem;
              height: 4.8rem;
              object-fit: cover;
            }
          }
          .frame-9s3 {
            margin-bottom: 4.1rem;
            width: 100%;
            display: flex;
            column-gap: 7rem;
            align-items: center;
            flex-shrink: 0;

            .home-UuK {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.25;
              color: #fbfbfb;
            }
            .about-18Z {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.25;
              color: #fbfbfb;
              font-family: Inter, 'Source Sans Pro';
            }
            .events-kM3 {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.25;
              color: #fbfbfb;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .contact-us-VZX {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.25;
              color: #fbfbfb;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .copyright-vnuva-bvp-SDs {
            font-weight: 400;
            line-height: 1.25;
            color: #fbfbfb;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
        }
      }
      .dept-details-9e5 {
        left: 9.8rem;
        top: 7.5rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 123.7rem;
        height: 216.7rem;
        position: absolute;

        .auto-group-87fs-Gyb {
          height: 17.5rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 2.85rem 4.7rem 3.45rem;
          width: calc(100% - 6.3rem);

          .line-7-azH {
            left: 8.55rem;
            top: 16.2371rem;
            background-color: #ffffff;
            width: 100.2rem;
            height: 0.1rem;
            position: absolute;
          }
          .department-of-electronics-and-communication-engineering-7zD {
            font-family: Abyssinica SIL, 'Source Sans Pro';
            height: 17.5rem;
            left: 0;
            font-size: 6.6rem;
            font-weight: 400;
            line-height: 1.325;
            text-transform: capitalize;
            color: #ffffff;
            width: 117.4rem;
            position: absolute;
            top: 0;
            text-align: center;
          }
        }
        .auto-group-p3z6-oMF {
          margin-bottom: 6.2rem;
          width: 100%;
          height: 121.8rem;
          position: relative;
          flex-shrink: 0;

          .vision-dept-Lc5 {
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 122.9rem;
            height: 24.8rem;
            position: absolute;
            left: 0;
            top: 97rem;

            .auto-group-gpn4-feM {
              margin: 0rem 51.9rem 2rem 52.6rem;
              width: calc(100% - 104.5rem);
              height: 8.8rem;
              position: relative;
              flex-shrink: 0;

              .line-4-b2D {
                position: absolute;
                left: 0.4rem;
                top: 7.6383rem;
                background-color: #ffffff;
                width: 17.5999rem;
                height: 0.1rem;
              }
              .vision-6jf {
                height: 8.8rem;
                position: absolute;
                left: 0;
                font-size: 6.6rem;
                font-weight: 400;
                line-height: 1.325;
                color: #ffffff;
                width: 18.4rem;
                top: 0;
                text-align: center;
                font-family: Abyssinica SIL, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .the-department-aspires-to-be-an-advanced-center-of-learning-by-synergizing-teaching-learning-and-research-to-produce-competent-engineers-capable-of-serving-the-society-Pyf {
              line-height: 1.325;
              color: #ffffff;
              font-family: Abyssinica SIL, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 122.9rem;
              font-size: 3.5rem;
              font-weight: 400;
            }
          }
          .about-dept-dt1 {
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 123.7rem;
            height: 103.6rem;
            position: absolute;
            left: 0;
            top: 0;

            .auto-group-burc-mzD {
              margin: 0rem 48.426rem 2rem 46.735rem;
              width: calc(100% - 95.1616rem);
              height: 8.8rem;
              position: relative;
              flex-shrink: 0;

              .line-4-HxZ {
                background-color: #ffffff;
                width: 28.5384rem;
                height: 0.1rem;
                position: absolute;
                left: 0;
                top: 7.6rem;
              }
              .about-us-qDP {
                line-height: 1.325;
                width: 28rem;
                font-size: 6.6rem;
                font-weight: 400;
                top: 0;
                text-align: center;
                color: #ffffff;
                font-family: Abyssinica SIL, 'Source Sans Pro';
                white-space: nowrap;
                height: 8.8rem;
                position: absolute;
                left: 0.2692rem;
              }
            }
            .the-department-of-electronics-and-communication-engineering-has-an-approved-annual-intake-of-180-students-making-it-the-largest-department-at-bharti-vidyapeeths-college-of-engineering-in-terms-of-professor-and-student-enrollment-the-department-is-proud-of-its-highly-trained-and-qualified-faculty-members-many-of-whom-have-earned-or-are-pursuing-a-phd-in-various-fields-of-electronics-and-communication-engineering-and-are-committed-to-imparting-high-quality-education-the-labs-which-are-created-by-the-teachers-themselves-are-well-equipped-adapt-to-the-needs-of-ambitious-students-and-foster-an-environment-conducive-to-research-and-practical-knowledge-acquisition-a-considerable-number-of-our-talented-students-have-been-hired-by-prestigious-government-and-private-sector-organizations-thus-we-believe-that-our-students-will-be-assets-not-only-to-our-department-and-the-institution-but-also-to-the-nation-at-large-to-encourage-extracurricular-activities-among-students-the-department-has-strong-ties-with-various-professional-chapters-and-cells-the-activities-and-competitions-organized-by-these-communities-allow-students-to-showcase-their-technical-and-fundamental-electronics-skills-8yB {
              font-family: Abyssinica SIL, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 123.7rem;
              font-size: 3.5rem;
              font-weight: 400;
              line-height: 1.325;
              color: #ffffff;
            }
          }
        }
        .mission-dept-xjF {
          flex-shrink: 0;
          margin-right: 3.7rem;
          width: 120rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-ee7n-WEy {
            position: relative;
            flex-shrink: 0;
            margin: 0rem 46.9rem 2rem 50.5rem;
            width: calc(100% - 97.4001rem);
            height: 8.8rem;

            .line-4-coo {
              width: 22.5999rem;
              height: 0.1rem;
              position: absolute;
              left: 0;
              top: 7.6208rem;
              background-color: #ffffff;
            }
            .mission-x6y {
              font-family: Abyssinica SIL, 'Source Sans Pro';
              width: 22.4rem;
              top: 0;
              font-size: 6.6rem;
              text-align: center;
              font-weight: 400;
              line-height: 1.325;
              color: #ffffff;
              white-space: nowrap;
              height: 8.8rem;
              position: absolute;
              left: 0.1rem;
            }
          }
          .dm1-to-prepare-graduates-with-sound-technical-knowledge-and-motivate-them-to-explore-emerging-areas-of-research-dm2-to-create-environment-for-the-development-of-research-and-innovation-activities-dm3-to-build-strong-relationships-with-industry-through-collaborative-partnerships-student-internships-and-research-towards-product-development-dm4-to-instill-ethical-and-professional-values-among-graduates-with-awareness-towards-societal-and-environmental-4A1 {
            font-family: Abyssinica SIL, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 120rem;
            font-size: 3.5rem;
            font-weight: 400;
            line-height: 1.325;
            color: #ffffff;
          }
        }
      }
    }
  }
}
