html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

input {
    border: none;
}

body {
    width: 150rem;
}

.contact-gj7 {
    box-sizing: border-box;
    padding: 1rem 2.438rem 4.5rem 2.1rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: radial-gradient(50% 50% at 50% 50%, rgba(146, 91, 180, 0.6800000072) 0%, #45006f 100%);
}

.contact-gj7 .landing-page-bzV {
    margin: 0rem 2.662rem 4.1rem 3rem;
    width: calc(100% - 5.662rem);
    height: 12.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.contact-gj7 .landing-page-bzV .logo-Ugu {
    width: 17.8841rem;
    height: 12.2rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
}

.contact-gj7 .landing-page-bzV .auto-group-aig4-uXK {
    box-sizing: border-box;
    padding: 3.7rem 0rem 5.2rem 50.566rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.menu-bar-QU5 a {
    text-decoration: none;
    color: white;
    scroll-behavior: smooth;
}

.contact-gj7 .landing-page-bzV .auto-group-aig4-uXK .menu-bar-QU5 {
    margin: 0rem 7.75rem 0.2rem 0rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.contact-gj7 .landing-page-bzV .auto-group-aig4-uXK .menu-bar-QU5 .home-8us {
    margin-right: 7.85rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #ffffff;
    font-family: Cheque, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.contact-gj7 .landing-page-bzV .auto-group-aig4-uXK .menu-bar-QU5 .about-eFw {
    margin-right: 8.05rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #ffffff;
    font-family: Cheque, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.contact-gj7 .landing-page-bzV .auto-group-aig4-uXK .menu-bar-QU5 .events-Azy {
    margin-right: 8.8rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #ffffff;
    font-family: Cheque, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.contact-gj7 .landing-page-bzV .auto-group-aig4-uXK .menu-bar-QU5 .contact-us-TDP {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #ffffff;
    font-family: Cheque, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.contact-gj7 .landing-page-bzV .auto-group-aig4-uXK {
    width: 3.3rem;
    height: 3.3rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-yfec-WSZ {
    margin: 0rem 53.162rem 16.6rem 53.6rem;
    width: calc(100% - 106.762rem);
    height: 8.8rem;
    position: relative;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-yfec-WSZ .line-4-pCM {
    width: 30.7998rem;
    height: 0.1rem;
    position: absolute;
    left: 0.9rem;
    top: 7.5927rem;
    background-color: #ffffff;
}

.contact-gj7 .auto-group-yfec-WSZ .contact-us-LRb {
    width: 32.7rem;
    height: 8.8rem;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    font-size: 6.6rem;
    font-weight: 400;
    line-height: 1.325;
    color: #ffffff;
    font-family: Abyssinica SIL, 'Source Sans Pro';
    white-space: nowrap;
}

.contact-gj7 .auto-group-2jqg-d9o {
    margin-bottom: 0.938rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .frame-A9j {
    margin: 0rem 12.438rem 11.9rem 0rem;
    width: 8.462rem;
    height: 8.462rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 {
    margin: 0rem 3.2rem 3.296rem 0rem;
    height: 42.6657rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 {
    margin-right: 4.5423rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-xuqn-X8h {
    box-sizing: border-box;
    padding: 6.741rem 0rem 6.741rem 0rem;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-xuqn-X8h .auto-group-lhic-Eoo {
    margin: 0.001rem 0rem 0rem 0rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-xuqn-X8h .auto-group-lhic-Eoo .auto-group-hiz2-JSH {
    margin-bottom: 1.4065rem;
    width: 0.0348rem;
    height: 1.6713rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-xuqn-X8h .auto-group-lhic-Eoo .auto-group-yu2q-dDf {
    margin-bottom: 0.8415rem;
    width: 0.0348rem;
    height: 3.2568rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-xuqn-X8h .auto-group-lhic-Eoo .auto-group-sq7r-wVF {
    width: 0.0348rem;
    height: 3.2568rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-xuqn-X8h .auto-group-xm6c-Uk5 {
    margin-right: 0rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-xuqn-X8h .auto-group-xm6c-Uk5 .auto-group-wcnp-d7B {
    margin-bottom: 1.4058rem;
    width: 0.0695rem;
    height: 1.6719rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-xuqn-X8h .auto-group-xm6c-Uk5 .auto-group-kmvc-AN1 {
    margin-bottom: 0.8408rem;
    width: 0.0695rem;
    height: 3.2575rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-xuqn-X8h .auto-group-xm6c-Uk5 .auto-group-ywac-6WZ {
    width: 0.0695rem;
    height: 3.2575rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-xuqn-X8h .auto-group-bgma-phT {
    margin-top: 0.0008rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-xuqn-X8h .auto-group-bgma-phT .auto-group-wmtp-B2D {
    margin-bottom: 1.4057rem;
    width: 0.0745rem;
    height: 1.6721rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-xuqn-X8h .auto-group-bgma-phT .auto-group-xxhw-7gZ {
    margin-bottom: 0.8407rem;
    width: 0.0745rem;
    height: 3.2576rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-xuqn-X8h .auto-group-bgma-phT .auto-group-u5zv-re9 {
    width: 0.0745rem;
    height: 3.2576rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-6xrv-mFK {
    width: 20.7962rem;
    height: 100%;
    position: relative;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-6xrv-mFK .path756-tqj {
    width: 4.6757rem;
    height: 1.3536rem;
    position: absolute;
    left: 7.9701rem;
    top: 1.6311rem;
    object-fit: contain;
    vertical-align: top;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-6xrv-mFK .path762-dHX {
    width: 0.5909rem;
    height: 0.5909rem;
    position: absolute;
    left: 11.4864rem;
    top: 2.0125rem;
    object-fit: contain;
    vertical-align: top;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-6xrv-mFK .path772-AYM {
    width: 0.5909rem;
    height: 0.5909rem;
    position: absolute;
    left: 11.4864rem;
    top: 2.0125rem;
    object-fit: contain;
    vertical-align: top;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-6xrv-mFK .path778-WMK {
    width: 0.551rem;
    height: 0.5517rem;
    position: absolute;
    left: 11.5064rem;
    top: 2.0322rem;
    object-fit: contain;
    vertical-align: top;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-6xrv-mFK .image784-36M {
    width: 0.727rem;
    height: 0.727rem;
    position: relative;
    left: 11.4094rem;
    top: 1.9452rem;
    background-size: 100% 100%;
    background-image: url('../assets/image784.png');
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-6xrv-mFK .path790-wBj {
    width: 0.3377rem;
    height: 0.3377rem;
    position: absolute;
    left: 11.6131rem;
    top: 2.1391rem;
    object-fit: contain;
    vertical-align: top;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-6xrv-mFK .path800-sbB {
    width: 0.3377rem;
    height: 0.3377rem;
    position: absolute;
    left: 11.6131rem;
    top: 2.1391rem;
    object-fit: contain;
    vertical-align: top;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-6xrv-mFK .path806-CtM {
    width: 0.2955rem;
    height: 0.2956rem;
    position: absolute;
    left: 11.6341rem;
    top: 2.1603rem;
    object-fit: contain;
    vertical-align: top;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-6xrv-mFK .image812-wqw {
    width: 0.439rem;
    height: 0.439rem;
    position: relative;
    left: 11.5484rem;
    top: 2.0842rem;
    background-size: 100% 100%;
    background-image: url('../assets/image812.png');
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-6xrv-mFK .path818-T3b {
    width: 0.0619rem;
    height: 0.0646rem;
    position: absolute;
    left: 11.8538rem;
    top: 2.3734rem;
    object-fit: contain;
    vertical-align: top;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-6xrv-mFK .image824-aP7 {
    width: 0.2006rem;
    height: 0.2403rem;
    position: relative;
    left: 11.7867rem;
    top: 2.2828rem;
    background-size: 100% 100%;
    background-image: url('../assets/image824.png');
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-6xrv-mFK .path830-t8u {
    width: 0.1042rem;
    height: 0.1047rem;
    position: absolute;
    left: 11.8103rem;
    top: 2.3324rem;
    object-fit: contain;
    vertical-align: top;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-6xrv-mFK .image836-omf {
    width: 0.2503rem;
    height: 0.2403rem;
    position: relative;
    left: 11.737rem;
    top: 2.2828rem;
    background-size: 100% 100%;
    background-image: url('../assets/image836.png');
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-6xrv-mFK .path460-i7w {
    width: 20.5976rem;
    height: 42.467rem;
    position: absolute;
    left: 0.0993rem;
    top: 0.0993rem;
    object-fit: contain;
    vertical-align: top;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-6xrv-mFK .path458-Ery {
    width: 20.7962rem;
    height: 42.6657rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-6xrv-mFK .path462-m6D {
    width: 20.0919rem;
    height: 42.0143rem;
    position: absolute;
    left: 0.3521rem;
    top: 0.3257rem;
    object-fit: contain;
    vertical-align: top;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-6xrv-mFK .phone-screen-Jbw {
    box-sizing: border-box;
    padding: 11.1rem 0.17rem 3.954rem 0.1rem;
    width: 18.77rem;
    height: 40.6544rem;
    position: absolute;
    left: 0.9212rem;
    top: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../assets/path464.png');
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-6xrv-mFK .phone-screen-Jbw .qr-code-Bfj {
    margin-bottom: 1.7rem;
    box-sizing: border-box;
    padding: 1.1563rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../assets/vector-G1s.png');
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-6xrv-mFK .phone-screen-Jbw .qr-code-Bfj .vector-L2q {
    width: 16.1875rem;
    height: 16.1875rem;
    object-fit: contain;
    vertical-align: top;
}

.auto-group-6hup-rms a {
    text-decoration: none;
    color: white;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-6xrv-mFK .phone-screen-Jbw .auto-group-6hup-rms {
    margin: 0 1.6rem;
    width: calc(100% - 3.2rem);
    height: 5.4rem;
    font-size: 2.9rem;
    font-weight: 400;
    line-height: 1.325;
    color: #ffffff;
    font-family: Abyssinica SIL, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 2.8rem;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-afcg-tTf {
    box-sizing: border-box;
    padding: 10.901rem 0rem 10.901rem 0rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-afcg-tTf .auto-group-m2x6-bcy {
    margin: 0rem 0rem 15.721rem 0rem;
    width: 0.1217rem;
    background-color: #000000;
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-afcg-tTf .auto-group-m2x6-bcy .path496-vfF {
    width: 100%;
    height: 5.1423rem;
    background: linear-gradient(0deg, #68595f -0%, #896e80 1.85%, #5e3b5b 3.82%, #2b1d2a 8.21%, #704a6a 10.53%, #615060 90.49%, #2b1d2a 93.91%, #5e3b5b 96.46%, #845675 98.29%, #5b4a5c 100%);
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-afcg-tTf .auto-group-pnfn-7zd {
    margin-bottom: 15.7197rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../assets/path502.png');
    flex-shrink: 0;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .d2p-nB7 .auto-group-afcg-tTf .auto-group-pnfn-7zd .path520-gH3 {
    width: 0.0609rem;
    height: 5.1412rem;
    object-fit: contain;
    vertical-align: top;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .group-3-buo {
    margin: 6.125rem 0rem 4.741rem 0rem;
    width: 81.2rem;
    height: calc(100% - 10.8657rem);
    position: relative;
    flex-shrink: 0;
}

.venuvabvp-venuvabvp-vnuva-bvcoe-venuvathefashionsociety-venuvaofficialgmailcom-jFK a {
    text-decoration: none;
    color: white;
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .group-3-buo .venuvabvp-venuvabvp-vnuva-bvcoe-venuvathefashionsociety-venuvaofficialgmailcom-jFK {
    width: 35.6rem;
    height: 19.9rem;
    position: absolute;
    left: 45.6rem;
    top: 11.45rem;
    text-align: right;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.325;
    color: #ffffff;
    font-family: Abyssinica SIL, 'Source Sans Pro';
}

.contact-gj7 .auto-group-2jqg-d9o .contact-details-FS5 .group-3-buo .please-feel-free-to-join-our-support-group-using-the-qr-code-and-be-sure-to-check-out-our-social-media-handles-instagram-facebook-linkedin-youtube-email--Zk9 {
    width: 79.2rem;
    height: 31.8rem;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.325;
    color: #ffffff;
    font-family: Abyssinica SIL, 'Source Sans Pro';
}

.contact-gj7 .auto-group-2jqg-d9o .frame-n77 {
    margin-top: 37.5rem;
    width: 8.462rem;
    height: 8.462rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.contact-gj7 .frame-JbF {
    margin: 0rem 96.8rem 0.038rem 0rem;
    width: 8.462rem;
    height: 8.462rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.contact-gj7 .footer-q5P {
    margin: 0rem 9.562rem 0rem 9.9rem;
    box-sizing: border-box;
    padding-top: 0.1rem;
    width: calc(100% - 19.462rem);
    height: 21.2rem;
    border-top: solid 0.1rem #fbfbfb;
    flex-shrink: 0;
}

.contact-gj7 .footer-q5P .auto-group-fsa8-wu7 {
    box-sizing: border-box;
    padding: 5.2rem 38.1rem 0rem 38.2rem;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contact-gj7 .footer-q5P .auto-group-fsa8-wu7 .frame-20-UPF {
    margin: 0rem 4.3rem 2.925rem 4.3rem;
    box-sizing: border-box;
    padding: 0.0375rem 0;
    width: calc(100% - 8.6rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.contact-gj7 .footer-q5P .auto-group-fsa8-wu7 .frame-20-UPF .image-837-mdF {
    margin-right: 5.8086rem;
    width: 4.8rem;
    height: 3.7rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
}

.contact-gj7 .footer-q5P .auto-group-fsa8-wu7 .frame-20-UPF .arcticons-instagram-W53 {
    margin: 0.01rem 6.355rem 0rem 0rem;
    width: 3.768rem;
    height: 3.768rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.contact-gj7 .footer-q5P .auto-group-fsa8-wu7 .frame-20-UPF .arcticons-facebook-1nV {
    margin: 0rem 5.806rem 0rem 0rem;
    width: 3.7619rem;
    height: 3.7578rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.contact-gj7 .footer-q5P .auto-group-fsa8-wu7 .frame-20-UPF .linkedin-1-wRF {
    width: 4.8rem;
    height: 4.8rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
}

.frame-3jB a {
    text-decoration: none;
    color: white;
}

.contact-gj7 .footer-q5P .auto-group-fsa8-wu7 .frame-3jB {
    margin-bottom: 4.1rem;
    width: 100%;
    display: flex;
    column-gap: 7rem;
    align-items: center;
    flex-shrink: 0;
}

.contact-gj7 .footer-q5P .auto-group-fsa8-wu7 .frame-3jB .home-PY9 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.25;
    color: #fbfbfb;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.contact-gj7 .footer-q5P .auto-group-fsa8-wu7 .frame-3jB .about-umP {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.25;
    color: #fbfbfb;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.contact-gj7 .footer-q5P .auto-group-fsa8-wu7 .frame-3jB .events-rgd {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.25;
    color: #fbfbfb;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.contact-gj7 .footer-q5P .auto-group-fsa8-wu7 .frame-3jB .contact-us-obs {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.25;
    color: #fbfbfb;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.contact-gj7 .footer-q5P .auto-group-fsa8-wu7 .copyright-vnuva-bvp-Lrh {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.25;
    color: #fbfbfb;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}